* {
  margin: 0;
  padding: 0;
}

body {
  --color-primary: #fd6e0a;
  font-family: "Open Sans", sans-serif;
}

/* Common Styles */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-primary,
.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 5px;
}

.btn-primary:hover,
.btn-secondary:hover {
  cursor: pointer;
}

.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 10px;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* Header and Nav */

header {
  padding-bottom: 0;
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}

.page-title {
  font-size: 45px;
  font-weight: 800;
}

.page-title span {
  color: var(--color-primary);
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav > ul li {
  list-style: none;
  font-size: 20px;
}

nav > ul a {
  text-decoration: none;
  color: #474747;
}

@media (width < 830px) {
  nav {
    padding: 30px 0;
    justify-content: space-around;
  }
}

/* Banneer */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  overflow: hidden;
}

.developer-text {
  padding-block: 20px;
  height: 600px;
}

.banner section {
  max-width: 550px;
  padding-top: 150px;
}

.banner h1 {
  font-size: 85px;
  font-weight: 600;
}

.banner h3 {
  font-size: 45px;
  font-weight: 600;
}

.banner p {
  font-size: 18px;
}

.banner-image {
  /* height: 670px; */
  width: 45%;
  position: relative;
  bottom: -80px;
}

.banner .buttons {
  margin: 15px 0;
  display: flex;
  gap: 12px;
}

/* Screen size smaller than Expected */
@media (width < 1330px) {
  .developer-text {
    display: none;
  }
  .banner section {
    padding-top: 70px;
    padding-left: 70px;
  }
}

@media (width < 1075px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  header {
    background-image: none;
  }
  .banner section {
    max-width: 70vw;
  }
}

/* Main Section */
main {
  padding: 80px 160px;
}

@media (width < 1330px) {
  main {
    padding: 20px;
  }
}

/* About ME */
.about-me {
  padding: 130px;
  background-color: #fff8f3;
  margin-bottom: 80px;
}

.about-me-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.info-title {
  color: #757575;
  /* text-align: center; */
  font-size: 20px;
  margin-bottom: 6px;
}

.info-desc {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

/* Skill Section */
.what-i-do {
  margin-bottom: 80px;
}

.what-i-do .section-description {
  width: 80%;
  margin-inline: auto;
}

.skill-cards {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.card {
  margin-top: 20px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card img {
  width: 44px;
  height: 44px;
}

.card-title {
  font-size: 20px;
  color: #181818;
  font-weight: 700;
  margin-block: 20px;
}

@media (width < 1075px) {
  .skill-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 200px;
  }
}

/* Resume Details */

.resume-details {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 70px;
  margin-top: 50px;
}

.summary-title {
  font-size: 30px;
  font-weight: 700;
  color: #474747;
}

.summary > .summary-item:not(:last-of-type) {
  border-bottom: 1px solid #d1d1d1;
}

.summary-item {
  padding-block: 30px;
}

.item-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
}

.item-subinfo {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  margin-block: 4px 10px;
}

.item-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

main > button {
  display: block;
  margin-inline: auto;
  margin-block: 20px;
}

@media (width < 1330px) {
  .resume-summary {
    padding-inline: 80px;
  }
}

@media (width < 1090px) {
  .resume-details {
    flex-direction: column;
  }
}

/* Footer */

footer section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 80px 150px;
  background-color: #fff8f3;
}

footer section > div {
  width: 50%;
}

footer section h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 22px;
}

footer section div p {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.connections {
  margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  padding: 18px 30px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid white;
  width: 460px;
  margin-bottom: 30px;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid var(--color-primary);
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.copyright {
  background-color: #ffcca7;
  padding: 10px;
  font-size: 13px;
  text-align: center;
}

@media (width < 1090px) {
  footer section {
    flex-direction: column;
    align-items: center;
  }
  footer section > div {
    width: 80%;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
}
